/* src/styles/globals.css */
@config "../../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* example global @apply usages */
@layer base {
  html {
    color: var(--color-gray-800);
    background-color: var(--color-white);
  }
  .dark html {
    background-color: var(--color-gray-900);
    color: var(--color-gray-100);
  }
  a {
    color: var(--color-blue-600);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
